<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablece tu Contraseña</title>
    <link rel="stylesheet" href="/Styles/forgot.css">
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-auth.js"></script>

</head>

<body>

    <form>
        <h2>Restablece tu Contraseña</h2>
        <p>Proporcione su correo para recuperar su contraseña</p>
        <input type="email" id="email" placeholder="Tu Correo" required>
        <input type="button" value="Restablecer Contraseña" id="btnRecover">
    </form>

    <script src="/Controllers/forgot.js"></script>

</body>

</html>

