<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Administración</title>
    <link rel="stylesheet" href="../Styles/admin.css">
</head>
<body>

<nav>
    <ul>
        <li>
            <a href="#" id="registrar">Registrar Usuarios</a>
        </li>
        <li>
            <a href="#" id="eliminar">Eliminar Usuarios</a>
        </li>
        <li>
            <a href="#" id="consultar">Consultar Usuarios</a>
        </li>
        <li>
            <a href="#" id="cerrar">Cerrar Sesión</a>
        </li>
    </ul>
</nav>

<script type="module" src="../Controllers/admin.js"></script>

</body>
</html>