<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Eliminar Usuario</title>
<link rel="stylesheet" href="/Styles/registrar.css">

</head>
<body>
<h2>Eliminar Usuario</h2>
<form id="deleteForm">
    <label for="email">Correo Electrónico:</label>
    <input type="email" id="email" name="email" required>
    <button type="button" value="delete" id="btndelete">Eliminar Usuario</button>
</form>

<script type="module" src="../Controllers/eliminarhome.js"></script>

</body>
</html>