<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto</title>
  <link rel="stylesheet" href="/Styles/home.css">
</head>
<body>

<header>
  <a href="#" class="atras">&#9664;</a>
  <h1>Menu</h1>
  <nav>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Acerca de</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="banner">
    <h2>Bienvenido </h2>
    <p>Estamos encantados de tenerte aquí.</p>
    <a href="#" class="boton">Leer más</a>
  </section>
  
  <section class="contenido">
    <h2>Contenido Principal</h2>
    <p>Este es el contenido principal de la página de inicio.</p>
  </section>
</main>

<footer>
  <p>Derechos de autor &copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
</footer>

</body>
</html>


