<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href="../Css/registro.css" rel="stylesheet" type="text/css"/>
	<title>Formulario de registro</title>
</head>
<body>
	<h2>Registro</h2>
	<form>
		<label for="email">Correo electrónico:</label>
		<input type="email" id="emailreg" name="email" required>
		<label for="password">Contraseña:</label>
		<input type="password" id="passwordreg" name="password" required>
		<label for="password">Confirmar contraseña:</label>
		<input type="password" id="confirmPassword" name="password" required>
		<label for="number">Cedula:</label>
		<input type="number" class="input" id="user-cc" required>
		<label for="text">Nombre Completo:</label>
        <input type="text" class="input" id="edtname" required>
		<label for="text">Dirección:</label>
        <input type="text" class="input" id="user-address" required>
		<label for="text">Telefono:</label>
		<input type="number" class="input" id="user-phone" required>
		<label for="text">Fecha de nacimiento:</label>
		<input type="date" class="input" id="edtdate" required>
		
	</form>
    <button type="button" id="btnreg">Registrarse</button>
    <p>¿Ya tienes una cuenta? <a href="/index2.html">Inicia sesión aquí</a>.</p>
    <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-firestore-compat.js"></script>
	<script type="module" src="../Controllers/databaseadmin.js"></script>
</body>

</html>
