/* Basic styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  /* Container */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block; /* Make labels block-level for better alignment */
  }
  
  .input {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
  }
  
  .input:focus {
    outline: none;
    border-color: #4CAF50; /* Change border color on focus */
  }
  
  /* Button */
  #btnreg {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #btnreg:hover {
    background-color: #3e8e41;
  }
  
  /* Link styles */
  a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
