.container {
    width: 40%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}


.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333333;
}


.buttons {
    display: flex;
    gap: 5px;
}

.button {
    padding: 10px 5px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-danger {
    background-color: #dc3545;
}

.button:hover {
    background-color: #0056b3;
}

.button-danger:hover {
    background-color: #c82333;
}


.update-form {
    background-color: #ffffff;
    border-radius: 8px;
    width: 50%;
    align-items: center; 
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.update-form h5 {
    font-size: 20px;
    margin-bottom: 15px;
}

.update-form input {
    display: block;
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.update-form input[type="date"] {
    padding: 8px;
}

.update-form .button {
    width: 40%;
    margin-top: 10px;
}


